body {
	background-color: black;
	color: white;
	height: 100vh;
}
a {
	cursor: pointer;
}
.container, .login_container {
	height: 100%;
}
.login_container a {
	margin: auto;
}
.message_need_login {
	text-align: center;
	padding-top: 15%;
}

/*
 * message list page
 */
.message_list {
	background-color: #fff;
	margin-top: 3em;
	padding: 1.5em;
	height: 400px;
	overflow-y: scroll;
	border-radius: .25rem;
	color: black;
}